dist: bionic

sudo: false

language: python

python:
  - "2.6"
  - "2.7"
  - "3.5"
  - "3.8"

cache:
  directories:
    - $HOME/.cache/pip

before_install:
  - sudo apt-get -y install libgit2-dev

install:
  - pip install -e .

script:
  - python setup.py test
